body {
  /* Page width */
  margin: auto;
}

header {
  /* Hero Section Header */
  background-image: url("https://fastly.picsum.photos/id/141/2048/1365.jpg?hmac=xcZmN-VINP95YwmI3AXCTIxfzd61fhaczQmodKQjLbY");;
  background-repeat: no-repeat;
  background-position: center;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
}

h1 {
  /* Heading Text */
  font-family: 'Roboto', sans-serif;
  font-size: clamp(10px, 10vw, 128px);
  max-width: 15ch;
  
  margin: 10px;
  
  color: rgb(229, 226, 224);
  text-shadow: 5px 2px 10px rgb(255, 115, 0);
}

h2 {
  /* CTA Text */
  color: rgb(238, 175, 30);
  font-size: clamp(1rem, 1vh, 1.5rem);
  font-family: 'Roboto', sans-serif;
  
  margin: 0;
}

article.cta {
  /* Call to Action Button */
  margin: 2rem;
  margin-top: 0;
  padding: 2rem;
  max-width: 40ch;
  text-align: center;
  color: #d57427;
  
  border-radius: 1rem;
  background-color: hsl(205, 53%, 26%);
}

button:hover {
  /* Hover effect on button */
  background-color: rgb(150, 9, 244);
  color: #d8b9a0;
}

p {
  /* Paragraph text below hero section */
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: auto;
}